src/CreditCardsSystem.ExternalService/SOA/HoldManagementService/WLS_HoldManagementService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://www.openuri.org/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="HoldManagementService" targetNamespace="http://www.openuri.org/">
<documentation>Straight Through Routing</documentation>
  <types>
    <xsd:schema>
<xsd:import namespace="http://www.openuri.org/" schemaLocation="http___integration_80_KFHIntegrationWebServices_kfh_banking_webservices_HoldManagementService.jws_xsd=1"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://www.kfh.com/" schemaLocation="http___integration_80_KFHIntegrationWebServices_kfh_banking_webservices_HoldManagementService.jws_xsd=2"/>
</xsd:schema>
  </types>
  <message name="Exception">
    <part name="fault" element="tns:Exception">
    </part>
  </message>
  <message name="addHoldResponse">
    <part name="parameters" element="tns:addHoldResponse">
    </part>
  </message>
  <message name="removeHoldResponse">
    <part name="parameters" element="tns:removeHoldResponse">
    </part>
  </message>
  <message name="viewAllHoldDetails">
    <part name="parameters" element="tns:viewAllHoldDetails">
    </part>
  </message>
  <message name="removeHold">
    <part name="parameters" element="tns:removeHold">
    </part>
  </message>
  <message name="addHold">
    <part name="parameters" element="tns:addHold">
    </part>
  </message>
  <message name="viewAllHoldDetailsResponse">
    <part name="parameters" element="tns:viewAllHoldDetailsResponse">
    </part>
  </message>
  <portType name="HoldManagementService">
    <operation name="viewAllHoldDetails">
      <input message="tns:viewAllHoldDetails" wsam:Action="http://www.openuri.org/HoldManagementService/viewAllHoldDetailsRequest">
    </input>
      <output message="tns:viewAllHoldDetailsResponse" wsam:Action="http://www.openuri.org/HoldManagementService/viewAllHoldDetailsResponse">
    </output>
      <fault name="Exception" message="tns:Exception" wsam:Action="http://www.openuri.org/HoldManagementService/viewAllHoldDetails/Fault/Exception">
    </fault>
    </operation>
    <operation name="addHold">
      <input message="tns:addHold" wsam:Action="http://www.openuri.org/HoldManagementService/addHoldRequest">
    </input>
      <output message="tns:addHoldResponse" wsam:Action="http://www.openuri.org/HoldManagementService/addHoldResponse">
    </output>
      <fault name="Exception" message="tns:Exception" wsam:Action="http://www.openuri.org/HoldManagementService/addHold/Fault/Exception">
    </fault>
    </operation>
    <operation name="removeHold">
      <input message="tns:removeHold" wsam:Action="http://www.openuri.org/HoldManagementService/removeHoldRequest">
    </input>
      <output message="tns:removeHoldResponse" wsam:Action="http://www.openuri.org/HoldManagementService/removeHoldResponse">
    </output>
    </operation>
  </portType>
  <binding name="HoldManagementServiceSoapBinding" type="tns:HoldManagementService">
    <wsp:PolicyReference URI="#policy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="viewAllHoldDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="addHold">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="removeHold">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WLS_HoldManagementService">
    <port name="HoldManagementServiceSoap2" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/ws/WLS_HoldManagementService/1.0"/>
    </port>
    <port name="HoldManagementServiceSoap3" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="https://integration/ws/WLS_HoldManagementService.HoldManagementServiceSoap/1.0"/>
    </port>
    <port name="HoldManagementServiceSoap4" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="https://integration/ws/WLS_HoldManagementService/1.0"/>
    </port>
    <port name="HoldManagementServiceSoap5" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="https://soa_apigw/ws/WLS_HoldManagementService.HoldManagementServiceSoap/1.0"/>
    </port>
    <port name="HoldManagementServiceSoap" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/ws/WLS_HoldManagementService.HoldManagementServiceSoap/1.0"/>
    </port>
    <port name="HoldManagementServiceSoap6" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="https://soa_apigw/ws/WLS_HoldManagementService/1.0"/>
    </port>
    <port name="HoldManagementServiceSoap7" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/kfhsoa/ws/HoldManagementService/1.0"/>
    </port>
    <port name="HoldManagementServiceSoap8" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="https://integration/kfhsoa/ws/HoldManagementService/1.0"/>
    </port>
    <port name="HoldManagementServiceSoap9" binding="tns:HoldManagementServiceSoapBinding">
      <soap:address location="https://soa_apigw/kfhsoa/ws/HoldManagementService/1.0"/>
    </port>
  </service>
    <wsp:UsingPolicy wsu:Required="true"/>
    <wsp1_2:Policy wsu:Id="policy">
<ns1:SupportingTokens xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">
<wsp1_2:Policy>
<ns1:UsernameToken ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<ns1:WssUsernameToken10/>
</wsp1_2:Policy>
</ns1:UsernameToken>
</wsp1_2:Policy>
</ns1:SupportingTokens>
</wsp1_2:Policy>
</definitions>