src/CreditCardsSystem.ExternalService/SOA/AccountHoldMgmtService/AccountHoldMgmt.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://www.openuri.org/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="AccountHoldMgmtService" targetNamespace="http://www.openuri.org/">
<documentation>Microservice for view, update, and adding holds (trading and normal)</documentation>
  <types>
    <xsd:schema>
<xsd:import namespace="http://www.openuri.org/" schemaLocation="http___172.16.123.176_7001_KFHAccountHoldMgmt_AccountHoldMgmtService_xsd=1"/>
</xsd:schema>
  </types>
  <message name="Exception">
    <part name="fault" element="tns:Exception">
    </part>
  </message>
  <message name="viewHoldDetails">
    <part name="parameters" element="tns:viewHoldDetails">
    </part>
  </message>
  <message name="addHoldResponse">
    <part name="parameters" element="tns:addHoldResponse">
    </part>
  </message>
  <message name="updateHoldDetails">
    <part name="parameters" element="tns:updateHoldDetails">
    </part>
  </message>
  <message name="updateHoldDetailsResponse">
    <part name="parameters" element="tns:updateHoldDetailsResponse">
    </part>
  </message>
  <message name="viewAllHoldDetails">
    <part name="parameters" element="tns:viewAllHoldDetails">
    </part>
  </message>
  <message name="addHold">
    <part name="parameters" element="tns:addHold">
    </part>
  </message>
  <message name="viewHoldsListResponse">
    <part name="parameters" element="tns:viewHoldsListResponse">
    </part>
  </message>
  <message name="viewHoldDetailsResponse">
    <part name="parameters" element="tns:viewHoldDetailsResponse">
    </part>
  </message>
  <message name="viewHoldsList">
    <part name="parameters" element="tns:viewHoldsList">
    </part>
  </message>
  <message name="viewAllHoldDetailsResponse">
    <part name="parameters" element="tns:viewAllHoldDetailsResponse">
    </part>
  </message>
  <portType name="AccountHoldMgmtService">
    <operation name="viewHoldsList">
      <input message="tns:viewHoldsList" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewHoldsListRequest">
    </input>
      <output message="tns:viewHoldsListResponse" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewHoldsListResponse">
    </output>
      <fault name="Exception" message="tns:Exception" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewHoldsList/Fault/Exception">
    </fault>
    </operation>
    <operation name="viewHoldDetails">
      <input message="tns:viewHoldDetails" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewHoldDetailsRequest">
    </input>
      <output message="tns:viewHoldDetailsResponse" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewHoldDetailsResponse">
    </output>
      <fault name="Exception" message="tns:Exception" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewHoldDetails/Fault/Exception">
    </fault>
    </operation>
    <operation name="viewAllHoldDetails">
      <input message="tns:viewAllHoldDetails" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewAllHoldDetailsRequest">
    </input>
      <output message="tns:viewAllHoldDetailsResponse" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewAllHoldDetailsResponse">
    </output>
      <fault name="Exception" message="tns:Exception" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/viewAllHoldDetails/Fault/Exception">
    </fault>
    </operation>
    <operation name="updateHoldDetails">
      <input message="tns:updateHoldDetails" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/updateHoldDetailsRequest">
    </input>
      <output message="tns:updateHoldDetailsResponse" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/updateHoldDetailsResponse">
    </output>
    </operation>
    <operation name="addHold">
      <input message="tns:addHold" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/addHoldRequest">
    </input>
      <output message="tns:addHoldResponse" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/addHoldResponse">
    </output>
      <fault name="Exception" message="tns:Exception" wsam:Action="http://www.openuri.org/AccountHoldMgmtService/addHold/Fault/Exception">
    </fault>
    </operation>
  </portType>
  <binding name="AccountHoldMgmtServicePortBinding" type="tns:AccountHoldMgmtService">
    <wsp:PolicyReference URI="#policy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="viewHoldsList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="viewHoldDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="viewAllHoldDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="updateHoldDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addHold">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AccountHoldMgmt">
    <port name="AccountHoldMgmtServicePort9" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="https://soa_apigw/kfhsoa/ws/AccountHoldMgmt/1.0"/>
    </port>
    <port name="AccountHoldMgmtServicePort8" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="https://integration/kfhsoa/ws/AccountHoldMgmt/1.0"/>
    </port>
    <port name="AccountHoldMgmtServicePort" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="http://FZVDSOAAP05:6655/ws/AccountHoldMgmt.AccountHoldMgmtServicePort/1.0"/>
    </port>
    <port name="AccountHoldMgmtServicePort7" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="http://FZVDSOAAP05:6655/kfhsoa/ws/AccountHoldMgmt/1.0"/>
    </port>
    <port name="AccountHoldMgmtServicePort6" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="https://soa_apigw/ws/AccountHoldMgmt/1.0"/>
    </port>
    <port name="AccountHoldMgmtServicePort5" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="https://soa_apigw/ws/AccountHoldMgmt.AccountHoldMgmtServicePort/1.0"/>
    </port>
    <port name="AccountHoldMgmtServicePort4" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="https://integration/ws/AccountHoldMgmt/1.0"/>
    </port>
    <port name="AccountHoldMgmtServicePort3" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="https://integration/ws/AccountHoldMgmt.AccountHoldMgmtServicePort/1.0"/>
    </port>
    <port name="AccountHoldMgmtServicePort2" binding="tns:AccountHoldMgmtServicePortBinding">
      <soap:address location="http://FZVDSOAAP05:6655/ws/AccountHoldMgmt/1.0"/>
    </port>
  </service>
    <wsp:UsingPolicy wsu:Required="true"/>
    <wsp1_2:Policy wsu:Id="policy">
<ns1:SupportingTokens xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">
<wsp1_2:Policy>
<ns1:UsernameToken ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<ns1:WssUsernameToken10/>
</wsp1_2:Policy>
</ns1:UsernameToken>
</wsp1_2:Policy>
</ns1:SupportingTokens>
</wsp1_2:Policy>
</definitions>