src/CreditCardsSystem.ExternalService/SOA/CustomerFinancialPositionService/WLS_CustomerFinancialPositionService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://www.openuri.org/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CustomerFinancialPositionService" targetNamespace="http://www.openuri.org/">
<documentation>Straight Through Routing</documentation>
  <types>
    <xsd:schema>
<xsd:import namespace="http://www.openuri.org/" schemaLocation="http___172.16.123.175_80_KFHCommonBusinessWebservices_kfh_common_webservices_CustomerFinancialPositionService.jws_xsd=1"/>
</xsd:schema>
  </types>
  <message name="getCustomerDuties">
    <part name="parameters" element="tns:getCustomerDuties">
    </part>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception">
    </part>
  </message>
  <message name="getCiNetLookupDataResponse">
    <part name="parameters" element="tns:getCiNetLookupDataResponse">
    </part>
  </message>
  <message name="getCiNetLookupData">
    <part name="parameters" element="tns:getCiNetLookupData">
    </part>
  </message>
  <message name="approveOrRejectCiNetInquiry">
    <part name="parameters" element="tns:approveOrRejectCiNetInquiry">
    </part>
  </message>
  <message name="getCustomerCiNetCommercialDuties">
    <part name="parameters" element="tns:getCustomerCiNetCommercialDuties">
    </part>
  </message>
  <message name="getCustomerCiNetCommercialDutiesResponse">
    <part name="parameters" element="tns:getCustomerCiNetCommercialDutiesResponse">
    </part>
  </message>
  <message name="getCustomerDutiesResponse">
    <part name="parameters" element="tns:getCustomerDutiesResponse">
    </part>
  </message>
  <message name="getCustomerCiNetDuties">
    <part name="parameters" element="tns:getCustomerCiNetDuties">
    </part>
  </message>
  <message name="getCustomerCiNetDutiesResponse">
    <part name="parameters" element="tns:getCustomerCiNetDutiesResponse">
    </part>
  </message>
  <message name="approveOrRejectCiNetInquiryResponse">
    <part name="parameters" element="tns:approveOrRejectCiNetInquiryResponse">
    </part>
  </message>
  <portType name="CustomerFinancialPositionService">
    <operation name="getCustomerCiNetDuties">
      <input message="tns:getCustomerCiNetDuties" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCustomerCiNetDutiesRequest">
    </input>
      <output message="tns:getCustomerCiNetDutiesResponse" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCustomerCiNetDutiesResponse">
    </output>
    </operation>
    <operation name="approveOrRejectCiNetInquiry">
      <input message="tns:approveOrRejectCiNetInquiry" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/approveOrRejectCiNetInquiryRequest">
    </input>
      <output message="tns:approveOrRejectCiNetInquiryResponse" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/approveOrRejectCiNetInquiryResponse">
    </output>
    </operation>
    <operation name="getCustomerDuties">
      <input message="tns:getCustomerDuties" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCustomerDutiesRequest">
    </input>
      <output message="tns:getCustomerDutiesResponse" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCustomerDutiesResponse">
    </output>
      <fault name="Exception" message="tns:Exception" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCustomerDuties/Fault/Exception">
    </fault>
    </operation>
    <operation name="getCustomerCiNetCommercialDuties">
      <input message="tns:getCustomerCiNetCommercialDuties" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCustomerCiNetCommercialDutiesRequest">
    </input>
      <output message="tns:getCustomerCiNetCommercialDutiesResponse" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCustomerCiNetCommercialDutiesResponse">
    </output>
    </operation>
    <operation name="getCiNetLookupData">
      <input message="tns:getCiNetLookupData" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCiNetLookupDataRequest">
    </input>
      <output message="tns:getCiNetLookupDataResponse" wsam:Action="http://www.openuri.org/CustomerFinancialPositionService/getCiNetLookupDataResponse">
    </output>
    </operation>
  </portType>
  <binding name="CustomerFinancialPositionServiceSoapBinding" type="tns:CustomerFinancialPositionService">
    <wsp:PolicyReference URI="#policy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getCustomerCiNetDuties">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="approveOrRejectCiNetInquiry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerDuties">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCustomerCiNetCommercialDuties">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCiNetLookupData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WLS_CustomerFinancialPositionService">
    <port name="CustomerFinancialPositionServiceSoap6" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="https://soa_apigw/ws/WLS_CustomerFinancialPositionService/1.0"/>
    </port>
    <port name="CustomerFinancialPositionServiceSoap7" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/kfhsoa/ws/CustomerFinancialPositionService/1.0"/>
    </port>
    <port name="CustomerFinancialPositionServiceSoap4" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="https://integration/ws/WLS_CustomerFinancialPositionService/1.0"/>
    </port>
    <port name="CustomerFinancialPositionServiceSoap5" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="https://soa_apigw/ws/WLS_CustomerFinancialPositionService.CustomerFinancialPositionServiceSoap/1.0"/>
    </port>
    <port name="CustomerFinancialPositionServiceSoap8" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="https://integration/kfhsoa/ws/CustomerFinancialPositionService/1.0"/>
    </port>
    <port name="CustomerFinancialPositionServiceSoap9" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="https://soa_apigw/kfhsoa/ws/CustomerFinancialPositionService/1.0"/>
    </port>
    <port name="CustomerFinancialPositionServiceSoap" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/ws/WLS_CustomerFinancialPositionService.CustomerFinancialPositionServiceSoap/1.0"/>
    </port>
    <port name="CustomerFinancialPositionServiceSoap2" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/ws/WLS_CustomerFinancialPositionService/1.0"/>
    </port>
    <port name="CustomerFinancialPositionServiceSoap3" binding="tns:CustomerFinancialPositionServiceSoapBinding">
      <soap:address location="https://integration/ws/WLS_CustomerFinancialPositionService.CustomerFinancialPositionServiceSoap/1.0"/>
    </port>
  </service>
    <wsp:UsingPolicy wsu:Required="true"/>
    <wsp1_2:Policy wsu:Id="policy">
<ns1:SupportingTokens xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">
<wsp1_2:Policy>
<ns1:UsernameToken ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<ns1:WssUsernameToken10/>
</wsp1_2:Policy>
</ns1:UsernameToken>
</wsp1_2:Policy>
</ns1:SupportingTokens>
</wsp1_2:Policy>
</definitions>