src/CreditCardsSystem.ExternalService/SOA/CorporateCreditCardService/CorporateCreditCardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://www.openuri.org/" targetNamespace="http://www.openuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCorporateCards">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="corpCivilID" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="relationshipNo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCorporateCardsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="getCorporateCards" type="ns0:corporateCardListWithProfileDTO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCorporateGlobalLimit">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="corpCivilID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCorporateGlobalLimitResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="getCorporateGlobalLimit" type="ns0:creditCardCorporateLimitsDTO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCorporateProfile">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="corpCivilID" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="relationshipNo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCorporateProfileResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="getCorporateProfile" type="ns0:corporateProfileBean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="performCorporateProfileBoarding">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="corporateProfileRequest" type="ns0:corporateProfileRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="performCorporateProfileBoardingResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="createCorporateProfile" type="ns0:corporateProfileResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCorporateProfile">
    <xsd:sequence>
      <xsd:element form="qualified" name="organization" type="xsd:int" />
      <xsd:element minOccurs="0" form="qualified" name="corpCivilID" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="embossingName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCorporateProfileResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="updateCorporateProfile" type="ns0:operationResult" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCorporateUndisbursedAmt">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="updateCorporateUndisbursedAmtReqDTO" type="ns0:updateCorporateUndisbursedAmtReqDTO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCorporateUndisbursedAmtResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="updateCorporateUndisbursedAmt" type="ns0:updateCorporateUndisbursedAmtResultDTO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="corporateCardListWithProfileDTO">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:ArrayOfCreditCard">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="corporateProfile" type="ns0:corporateProfileBean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCreditCard">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="CreditCard" nillable="true" type="ns0:creditCard" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="creditCard">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="cardNo" type="xsd:string" />
      <xsd:element form="qualified" name="cardStatus" type="xsd:int" />
      <xsd:element form="qualified" name="approvedLimit" type="xsd:double" />
      <xsd:element minOccurs="0" form="qualified" name="expiry" type="xsd:dateTime" />
      <xsd:element minOccurs="0" form="qualified" name="bankAcctNo" type="xsd:string" />
      <xsd:element form="qualified" name="requestID" type="xsd:long" />
      <xsd:element minOccurs="0" form="qualified" name="requestDate" type="xsd:dateTime" />
      <xsd:element form="qualified" name="cardType" type="xsd:int" />
      <xsd:element form="qualified" name="limit" type="xsd:double" />
      <xsd:element minOccurs="0" form="qualified" name="civilID" type="xsd:string" />
      <xsd:element form="qualified" name="branchID" type="xsd:int" />
      <xsd:element minOccurs="0" form="qualified" name="tellerID" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="ApproveDate" type="xsd:dateTime" />
      <xsd:element form="qualified" name="servicePeriod" type="xsd:int" />
      <xsd:element minOccurs="0" form="qualified" name="remark" type="xsd:string" />
      <xsd:element form="qualified" name="photo" type="xsd:int" />
      <xsd:element minOccurs="0" form="qualified" name="depositNumber" type="xsd:string" />
      <xsd:element form="qualified" name="depositAmount" type="xsd:int" />
      <xsd:element form="qualified" name="POBox" type="xsd:long" />
      <xsd:element minOccurs="0" form="qualified" name="city" type="xsd:string" />
      <xsd:element form="qualified" name="postCode" type="xsd:long" />
      <xsd:element minOccurs="0" form="qualified" name="street" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="continuation_1" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="continuation_2" type="xsd:string" />
      <xsd:element form="qualified" name="mobile" type="xsd:long" />
      <xsd:element form="qualified" name="homePhone" type="xsd:long" />
      <xsd:element form="qualified" name="workPhone" type="xsd:long" />
      <xsd:element form="qualified" name="salary" type="xsd:double" />
      <xsd:element form="qualified" name="murabahaInstallments" type="xsd:int" />
      <xsd:element form="qualified" name="realEstateInstallments" type="xsd:int" />
      <xsd:element form="qualified" name="requestedLimit" type="xsd:int" />
      <xsd:element form="qualified" name="sellerID" type="xsd:long" />
      <xsd:element minOccurs="0" form="qualified" name="faxReference" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="fdAccountNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="corporateProfileBean">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="corporateCivilID" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="corporateNameEn" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="corporateNameAr" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="embossingName" type="xsd:string" />
      <xsd:element form="qualified" name="rimCode" type="xsd:long" />
      <xsd:element minOccurs="0" form="qualified" name="relationshipNo" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="customerNo" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="billingAccountNo" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="kfhAccountNo" type="xsd:string" />
      <xsd:element name="globalLimit" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="creditCardCorporateLimitsDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="corpCreditCardGlobalLimitDTO" type="ns0:corpCreditCardGlobalLimitDTO" />
      <xsd:element form="qualified" name="totalUsedLimit" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="corpCreditCardGlobalLimitDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="commitmentType" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="commitmentNo" type="xsd:string" />
      <xsd:element form="qualified" name="amount" type="xsd:double" />
      <xsd:element form="qualified" name="undisbursedAmount" type="xsd:double" />
      <xsd:element minOccurs="0" form="qualified" name="maturityDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" form="qualified" name="status" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="corporateProfileRequest">
    <xsd:sequence>
      <xsd:element form="qualified" name="organization" type="xsd:int" />
      <xsd:element minOccurs="0" form="qualified" name="corporateNameEn" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="corporateNameAr" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="embossingName" type="xsd:string" />
      <xsd:element form="qualified" name="rimCode" type="xsd:long" />
      <xsd:element minOccurs="0" form="qualified" name="corporateCivilID" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="kfhAccountNumber" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="addressLine1" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="addressLine2" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="addressLine3" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="addressLine4" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="city" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="country" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="countryCode" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="postalCode" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="phoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="workPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="mobilePhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="authCriteria" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="corporateProfileResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="status" type="ns0:enumStatus" />
      <xsd:element minOccurs="0" form="qualified" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="customerNumber" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="relationshipNumber" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="billingAcctNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="operationResult">
    <xsd:sequence>
      <xsd:element form="qualified" name="isSuccessful" type="xsd:boolean" />
      <xsd:element minOccurs="0" form="qualified" name="status" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCorporateUndisbursedAmtReqDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" form="qualified" name="commitmentType" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="commitmentNo" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" form="qualified" name="description" type="xsd:string" />
      <xsd:element form="qualified" name="amount" type="xsd:double" />
      <xsd:element form="qualified" name="employeeID" type="xsd:int" />
      <xsd:element form="qualified" name="branchNo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCorporateUndisbursedAmtResultDTO">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:operationResult">
        <xsd:sequence>
          <xsd:element form="qualified" name="amount" type="xsd:double" />
          <xsd:element form="qualified" name="undisbursedAmount" type="xsd:double" />
          <xsd:element minOccurs="0" form="qualified" name="referenceNo" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Exception" type="ns0:Exception" />
  <xsd:element name="getCorporateCards" type="ns0:getCorporateCards" />
  <xsd:element name="getCorporateCardsResponse" type="ns0:getCorporateCardsResponse" />
  <xsd:element name="getCorporateGlobalLimit" type="ns0:getCorporateGlobalLimit" />
  <xsd:element name="getCorporateGlobalLimitResponse" type="ns0:getCorporateGlobalLimitResponse" />
  <xsd:element name="getCorporateProfile" type="ns0:getCorporateProfile" />
  <xsd:element name="getCorporateProfileResponse" type="ns0:getCorporateProfileResponse" />
  <xsd:element name="performCorporateProfileBoarding" type="ns0:performCorporateProfileBoarding" />
  <xsd:element name="performCorporateProfileBoardingResponse" type="ns0:performCorporateProfileBoardingResponse" />
  <xsd:element name="updateCorporateProfile" type="ns0:updateCorporateProfile" />
  <xsd:element name="updateCorporateProfileResponse" type="ns0:updateCorporateProfileResponse" />
  <xsd:element name="updateCorporateUndisbursedAmt" type="ns0:updateCorporateUndisbursedAmt" />
  <xsd:element name="updateCorporateUndisbursedAmtResponse" type="ns0:updateCorporateUndisbursedAmtResponse" />
  <xsd:simpleType name="enumStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SUCCESS" />
      <xsd:enumeration value="WARNING" />
      <xsd:enumeration value="FAILED" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>