src/CreditCardsSystem.ExternalService/SOA/FeesManagement/ServiceFeesManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ServiceFeesManagement" targetNamespace="http://www.kfh.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://www.kfh.com/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
<documentation>ServiceFeesManagement
</documentation>
  <types>
    <xsd:schema targetNamespace="http://www.kfh.com/" xmlns:ns0="http://www.kfh.com/">
         <xsd:complexType name="getServiceFees">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="getServiceFeesReqDTO" type="ns0:getServiceFeesReqDTO"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="getServiceFeesResponse">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="getServiceFees" type="ns0:getServiceFeesResutDTO"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="postServiceFees">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="postServiceFeeReqDTO" type="ns0:postServiceFeesReqDTO"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="postServiceFeesResponse">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="postServiceFees" type="ns0:transactionPostResutDTO"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="getServiceFeesReqDTO">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="glCurrency" type="xsd:string"/>
               <xsd:element minOccurs="0" name="serviceAccountNo" type="xsd:string"/>
               <xsd:element minOccurs="0" name="serviceName" type="xsd:string"/>
               <xsd:element name="tranType" type="xsd:int"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="getServiceFeesResutDTO">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="errorCode" type="xsd:string"/>
               <xsd:element minOccurs="0" name="errorDesc" type="xsd:string"/>
               <xsd:element name="fees" type="xsd:double"/>
               <xsd:element minOccurs="0" name="feesCurrency" type="xsd:string"/>
               <xsd:element minOccurs="0" name="feesValueType" type="xsd:string"/>
               <xsd:element minOccurs="0" name="incomeGL" type="xsd:string"/>
               <xsd:element name="isVatApplicable" type="xsd:boolean"/>
               <xsd:element minOccurs="0" name="taxGL" type="xsd:string"/>
               <xsd:element name="vatPercentage" type="xsd:double"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="postServiceFeesReqDTO">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="currencyRate" type="xsd:double"/>
               <xsd:element minOccurs="0" name="dataAttributeList" type="ns0:dataAttributeList"/>
               <xsd:element minOccurs="0" name="debitAccountNo" type="xsd:string"/>
               <xsd:element minOccurs="0" name="glCurrency" type="xsd:string"/>
               <xsd:element minOccurs="0" name="originalFeesAmount" type="xsd:double"/>
               <xsd:element minOccurs="0" name="overwriteFeesAmount" type="xsd:double"/>
               <xsd:element minOccurs="0" name="overwriteReason" type="xsd:string"/>
               <xsd:element minOccurs="0" name="serviceName" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="dataAttributeList">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="dataAttribute" nillable="true" type="ns0:keyValuePair"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="keyValuePair">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="key" type="xsd:string"/>
               <xsd:element minOccurs="0" name="value" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="transactionPostResutDTO">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="errorCode" type="xsd:string"/>
               <xsd:element minOccurs="0" name="errorDesc" type="xsd:string"/>
               <xsd:element name="isSuccessful" type="xsd:boolean"/>
               <xsd:element minOccurs="0" name="transRefno" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="getServiceFees" type="ns0:getServiceFees"/>
         <xsd:element name="getServiceFeesResponse" type="ns0:getServiceFeesResponse"/>
         <xsd:element name="postServiceFees" type="ns0:postServiceFees"/>
         <xsd:element name="postServiceFeesResponse" type="ns0:postServiceFeesResponse"/>
         <xsd:element name="keyValuePair" type="ns0:keyValuePair"/>
      </xsd:schema>
  </types>
  <message name="getServiceFeesResponse">
    <part name="parameters" element="tns:getServiceFeesResponse">
    </part>
  </message>
  <message name="getServiceFees">
    <part name="parameters" element="tns:getServiceFees">
    </part>
  </message>
  <message name="postServiceFeesResponse">
    <part name="parameters" element="tns:postServiceFeesResponse">
    </part>
  </message>
  <message name="postServiceFees">
    <part name="parameters" element="tns:postServiceFees">
    </part>
  </message>
  <portType name="ServiceFeesManagement">
    <operation name="getServiceFees">
      <input message="tns:getServiceFees" wsam:Action="http://www.kfh.com/ServiceFeesManagement/getServiceFeesRequest">
    </input>
      <output message="tns:getServiceFeesResponse" wsam:Action="http://www.kfh.com/ServiceFeesManagement/getServiceFeesResponse">
    </output>
    </operation>
    <operation name="postServiceFees">
      <input message="tns:postServiceFees" wsam:Action="http://www.kfh.com/ServiceFeesManagement/postServiceFeesRequest">
    </input>
      <output message="tns:postServiceFeesResponse" wsam:Action="http://www.kfh.com/ServiceFeesManagement/postServiceFeesResponse">
    </output>
    </operation>
  </portType>
  <binding name="ServiceFeesManagementSoapBinding" type="tns:ServiceFeesManagement">
    <wsp:PolicyReference URI="#policy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getServiceFees">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="postServiceFees">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServiceFeesManagement">
    <port name="ServiceFeesManagementSoap8" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="https://integration/kfhsoa/ws/ServiceFeesManagement/1.0"/>
    </port>
    <port name="ServiceFeesManagementSoap9" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="https://soa_apigw/kfhsoa/ws/ServiceFeesManagement/1.0"/>
    </port>
    <port name="ServiceFeesManagementSoap6" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="https://soa_apigw/ws/ServiceFeesManagement/1.0"/>
    </port>
    <port name="ServiceFeesManagementSoap7" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/kfhsoa/ws/ServiceFeesManagement/1.0"/>
    </port>
    <port name="ServiceFeesManagementSoap" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/ws/ServiceFeesManagement.ServiceFeesManagementSoap/1.0"/>
    </port>
    <port name="ServiceFeesManagementSoap4" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="https://integration/ws/ServiceFeesManagement/1.0"/>
    </port>
    <port name="ServiceFeesManagementSoap5" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="https://soa_apigw/ws/ServiceFeesManagement.ServiceFeesManagementSoap/1.0"/>
    </port>
    <port name="ServiceFeesManagementSoap2" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="http://FZVDSOAAP05:6655/ws/ServiceFeesManagement/1.0"/>
    </port>
    <port name="ServiceFeesManagementSoap3" binding="tns:ServiceFeesManagementSoapBinding">
      <soap:address location="https://integration/ws/ServiceFeesManagement.ServiceFeesManagementSoap/1.0"/>
    </port>
  </service>
    <wsp:UsingPolicy wssutil:Required="true"/>
    <wsp1_2:Policy wssutil:Id="policy">
      <ns1:SupportingTokens xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">
         <wsp1_2:Policy>
            <ns1:UsernameToken ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512/IncludeToken/AlwaysToRecipient">
               <wsp1_2:Policy>
                  <ns1:WssUsernameToken10/>
               </wsp1_2:Policy>
            </ns1:UsernameToken>
         </wsp1_2:Policy>
      </ns1:SupportingTokens>
   </wsp1_2:Policy>
</definitions>
